html, body{
	height: 100%;
}

* {	
	margin:0;
	padding:0;
}

html{
	background-color: #333;
}

body{
	margin:0 auto;
	background-color: #7d7e7d; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-attachment: fixed !important;
	background-repeat:no-repeat;
	background-position: 0 0;
	background-size: auto !important;
	-moz-background-size: auto;
	-webkit-background-size: auto !important;
	
}

ul{
	list-style-type: none;
}
      
#maincontainer{
		border-right: 1px dashed #666;
		border-left: 1px dashed #666;
		max-width:715px;
		min-width:260px;
		margin: auto;
		min-height: 100%;
		height: auto !important;
		height: 100%;
		background:#333;
}

.social-vert{
	background-color:#333;
	position: fixed; 
	margin:80px 0px 0px -52px;
	width:50px
}

.social-vert ul{
	list-style-type: none;
	border: 1px solid #999;
	border-right: 0px;
	padding:10px 10px;
	margin:0;
	border-bottom-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
}

.social-vert ul #follow-words {
	margin-left:-5px;
}
    
.social-vert ul li, .social-hor ul li{
	height:40px;
	width:40px;
	overflow: hidden;
}

#aboutme{
	float: left;
	background: url('media/argyle.png') 0 0 repeat;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(51,51,51,0.65))), url('media/argyle.png') 0 0 repeat;
	background: -webkit-linear-gradient(top, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%), url('media/argyle.png') 0 0 repeat;
	background: -moz-linear-gradient(top, rgba(51,51,51,0) 0%, rgba(51,51,51,1) 100%), url('media/argyle.png') 0 0 repeat;
	background: -o-linear-gradient(top, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%), url('media/argyle.png') 0 0 repeat;
	background: -ms-linear-gradient(top, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%), url('media/argyle.png') 0 0 repeat;
	background: linear-gradient(to bottom, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%), url('media/argyle.png') 0 0 repeat;
	background-color: #FFF;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 100%;
}

#centercontainer{
	clear:both;
	width:95%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
}

.title{
    padding:15px 1px 1px 1px;
    font-weight:bold;
}

#header{
    text-shadow: 0 1px 0 white;
    background-color: #F3F3F3;
    background-image: -moz-linear-gradient(#F9F9F9, #F3F3F3);
    background-image: -webkit-linear-gradient(#F9F9F9, #F3F3F3);
    background-image: linear-gradient(#F9F9F9, #F3F3F3);
    background-repeat: repeat-x;
    border-bottom: 1px solid #E5E5E5;
    height: 40px;
    width:100%;
   	margin:0 auto;
}


      
#ident{
    float:left;
}
      
#site-title{
	margin:10px 10px 0 15px;
}

.divider-vertical{
    width: 1px;
    height: 40px;
    margin: 0 10px;
    background-color: #E5E5E5;
    border-right: 1px solid white;
    float: left;
}

#biotext{
	clear:both;
	border-radius: 5px;
    -moz-border-radius: 5px;
	margin: 10px auto;
    padding: 0 10px;
    float:left;
    max-width:430px;
    border: 1px solid #999;
    background-color: #FFF;
}

#smalltop{
	width:260px;
	margin:0 auto;
	clear:both;
}

.social-hor{
	margin:0 auto;
	height:50px;
	width:245px;
	float:left;
	clear:both;
	border: 1px solid #555;
	border-radius: 10px;
	-moz-border-radius: 10px;
	background-color:#333;
	display:inline-block;
	
}

.social-hor ul{
	float:left;
	list-style-type: none;
	display:inline;
	margin:0;
	padding:0 10px 0 2px;
    }
    
.social-hor ul li {
	margin:8px 0 0 2px;
	float:left;
    display:inline;    
}
    
#follow-words{
	margin-top:4px !important;
	color: #AAA;
	padding:0 16px 20px 4px;
} 
      
#follow-li{
	background: url(media/linkedin.png) no-repeat;
}    

#follow-tw{
	background: url(media/twitter.png) no-repeat;
}    

#follow-gp{
	background: url(media/google.png) no-repeat;
}    

#follow-gh{
	background: url(media/github.png) no-repeat;
}    


.social-vert ul li a{
	padding:0;
	margin:0; 
	display: block;
	height:40px;
	width:40px;
}

.social-hor ul li a{
	float:left;
	display: block;
	height:40px;
	width:40px;
}
      
#ftw{
    float:right;
    color: #DDD;
    padding-right:20px;
    height: 40px;
}

#calendar{
	text-align:center;
	background-color:#333;
	padding: 4px auto;
	margin: 0 auto;
	color:#666;
	font-size:8pt;
	width: 100%;
}

.now{
	color:red;
}
      
.bigpic{
    margin: 10px 5px;
    float:left;
	-moz-box-shadow: 2px 2px 3px #333;
	-webkit-box-shadow: 2px 2px 3px #333;
	box-shadow: 2px 2px 3px #333;
	width:240px;
	height:380px;
	background: url('homepage.jpg') no-repeat;
	background-position: 0 -20px; 
	 border: 1px solid #000;
}

#smallpic{
	clear:both;
	margin:10px auto;
	width:240px;
	float:left;
	height:130px;
	background: url('homepage.jpg') no-repeat;
	background-position: 0 -20px; 
	 border: 1px solid #000;
}

#interests{
	border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #999;
    background-color: #FFF;
    float:left;
    width: 97%;
	padding: 5px 0px 0px 10px;
	margin:0px auto;
}
	
.clear{
    clear: both;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.gt8{
		display: none;
}

@media screen and (min-width: 320px) 
{	
	.lt8{
		display: block;
	}
	
	.gt8{
		display: none;
	}
    	
    #biotext{
    	max-width:1000px;
    }
    
}

@media screen and (min-width: 500px) {
	#maincontainer{
		width:80%;
	}
	
	body{
		width:600px;
	}
	
}

@media screen and (min-width: 900px){
body{
		width:auto;
		margin:0 auto;
	}
  .gt8{
		display: block;
	}
	
	.lt8{
		display: none;
	}
	
	#interests{
		width: 200px;
		padding: 0 20px;
		margin-left:8px;
	}
		
    #biotext{
    	max-width:400px;
    }
    
}	

