html, body{
	height: 100%;
}

html, body, .title, #maincontainer, .site-title, .divider-vertical, .header, .clear, calendar, temperature{
	margin:0;
	padding:0;
	border:0;
}

body{
	background-color: #333;
	min-width: 1000px;
}
   
a { color:#666; 
	text-decoration:none; 
   -webkit-transition:color 500ms ease;
   -moz-transition:color 500ms ease;
   -o-transition:color 500ms ease;
   transition:color 500ms ease;
} 
a:visited { color:#666; } 
a:hover { color:#00F; } 
a:active { color:#FFF; } 


         
.title{
    padding:15px 1px 1px 1px;
    font-weight:bold;
}

.inline{
	display: inline;
	float: left;
	padding: 0px 20px 0 30px;
	margin-left: -15px;
}

ul{
	list-style-type: none;
}

.pagelinks{
	padding:0px;
	float:left;
	margin-bottom:0px;
}

#maincontainer{
		width:750px;
		margin: 0 auto;
		min-height: 100%;
		height: auto !important;
		height: 100%;
		border-right: 1px dashed #666;
		border-left: 1px dashed #666;
}

.header{
    text-shadow: 0 1px 0 white;
    background-color: #F3F3F3;
    background-image: -moz-linear-gradient(#F9F9F9, #F3F3F3);
    background-image: -webkit-linear-gradient(#F9F9F9, #F3F3F3);
    background-image: linear-gradient(#F9F9F9, #F3F3F3);
    background-repeat: repeat-x;
    /*border-bottom: 1px solid #E5E5E5;*/
    border-bottom: 1px solid #999;
    height: 40px;
    width: 750px;
}

#aboutme{
	float:left;
	background-image: url('media/argyle.png');
	background-repeat: repeat;
	background-color: #F3F3F3;
	width:750px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#projects{
	float:left;
	background-repeat: repeat-xy;
	background-position:center;
	
	background-image: url('media/floral.png');
	width:750px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.argylebreak1{
	background: -moz-linear-gradient(top, rgba(51,51,51,0) 0%, rgba(51,51,51,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(51,51,51,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	width:750px;
	min-height: 800px;
	height: auto !important;
	height:800px;
	clear:both;
}

.seperator{
	text-shadow: 0 1px 0 #222;
	width:750px;
	height:20px;
	/* margin: 20px auto; */
	text-align: center;
	color: #FFF;
}
      
#ident{
    float:left;
}
      
.site-title{
	margin:10px 10px 0 15px;
}

.divider-vertical{
    width: 1px;
    height: 40px;
    margin: 0 10px;
    background-color: #E5E5E5;
    border-right: 1px solid white;
    float: left;
}

.biotext{
	float:left;
    padding-bottom:8px;
    border-bottom: 1px solid #E5E5E5;
}


#social-div{
	z-index:-3;
	position: fixed; 
	margin:80px 0px 0px -52px;
}

#social-div ul{
	list-style-type: none;
	border: 1px solid #999;
	border-right: 0px;
	padding:10px 10px;
	margin:0;
	border-bottom-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    }
      
#social-div a{ 
    text-decoration:none;  
    margin: 20px auto;
}
      

      
#ftw{
    float:right;
    color: #DDD;
    padding-right:20px;
    height: 40px;
}

#calendar{
	background-color:#333;
	padding: 4px 4px 4px 8px;
	margin:auto;
	color:#666;
	font-size:8pt;
	width: 738px;
	display:none;
}

#weather{
	float:left;
}

#temperature{
	background-color:#333;
	float:left;
}

.now{
	color:red;
}
      
#page1{
    float:left;
    width:780px;
}

#page2{
    float:left;
    width:750px;
}

#innerpage{
	border-radius: 5px;
    -moz-border-radius: 5px;
	margin: 10px 10px auto;
    padding: 0 30px 10px 30px;
    float:left;
    width:400px;
    border: 1px solid #999;
    background-color: #FFF;
}
 
#projectinnerpage
{
	border-radius: 5px;
    -moz-border-radius: 5px;
	margin: 10px 10px auto;
    padding: 0 30px 10px 30px;
    float:left;
    width:640px;
    border: 1px solid #999;
    background-color: #FFF;
}
      
.pic{
    margin: 10px 0 0 0;
    float:left;
	-moz-box-shadow: 2px 2px 3px #333;
	-webkit-box-shadow: 2px 2px 3px #333;
	box-shadow: 2px 2px 3px #333;
	border: 1px solid #000;
}

#roles{
	border-radius: 5px;
    -moz-border-radius: 5px;
	margin: 10px 20px 0 0;
    padding-left: 20px;
    border: 1px solid #000;
    background-color: #FFF;
    float:right;
    width: 225px;
}

#spacer{
	border-radius: 5px;
    -moz-border-radius: 5px;
	margin: 10px 20px 0 0;
    padding-left: 20px;
    background-color: #FFF;
    float:right;
    width: 225px;
    height:25px;
    background-image: url('media/argyle.png');
}

.projectborder{
	border: 1px solid #333;
	border-radius: 5px;
    -moz-border-radius: 5px;
    padding-bottom:10px;
	margin: 10px;
	float:left;
	background:#E9F1F4;
	background: rgb(206,220,231); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=1 ); /* IE6-9 */
}
.projecttext{
	float:left;
    padding-bottom:8px;
}

#project_buttons{
	float:left;
	padding: 10px;
	margin:10px 100px auto;
	
	background:#E9F1F4;
	background: rgb(206,220,231); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=1 ); /* IE6-9 */

	border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #333;
}

.project_button{
	width:150px;
	float:left;
	display:inline;	height: 40px;
	padding: 5px;
	margin:2px;
	border: 1px solid #333;
	color:#559;
    border-radius: 5px;
    -moz-border-radius: 5px;
    text-align:middle;
    list-style-type: none;
    
    background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.projectdescription{
	padding:20px;
	border: 1px solid #DDD;
	border-radius: 5px;
	width:600px;
	margin-top:20px;
}
	
#push{
	width: 740px;
	height:10px;
	margin: auto;
	color: #666;
	text-align:center;
}
      
.clear{
    clear: both;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}