/*.circular {
	margin: auto;
	width: 130px;
	height: 130px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url('homepage.jpg') no-repeat;
	background-position:-50px -20px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}*/

	
.panel-default .panel-heading { background: white; }
.panel-body { clear: both; }
.entity-title { float: left; }

.entity-date
{
	clear: left;
	float: left;
}



.jumbotron { position: relative; }

.jumbotext
{
	float: left;
	display: inline;
	width: auto;
}

.me
{
	background: url('homepage.jpg') no-repeat;
	width: 230px;
	height: 370px;
	background-position: 0 -20px;
	border: 1px solid #999;
	border-radius: 6px;
	float: right;
	box-shadow: 0 0 1px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
	display: none;
}

.phoneme {
	margin:auto;
	width:280px;
	height:160px;
}
	
.square {
	width: 230px;
	height: 160px;
	background: url('homepage.jpg') no-repeat;
	background-position: 0px -20px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	float:left;
	overflow: hidden;
}

.social-vert
{
	display:inline;
	list-style-type: none;
	height: 160px;
	width: 50px;
	float:right;
	overflow: hidden;
}

.social-vert ul
{
	list-style-type: none;
	float:right;
}

.social
{
	list-style-type: none;
	margin: 10px 0px auto auto;
	height: 50px;
	/*width: 245px;*/
	float: right;
	clear: both;
	position: absolute;
	bottom: 0px;
	right: 18px;
	display:none;
	margin-right:35px;
}

.social ul
{
	float: left;
	list-style-type: none;
	display: inline;
	margin: 0;
}

.social ul li
{
	float: right;
}


.follow { 
	margin-right: 5px;
	margin-top:5px;
	display: block;
	height: 33px;
	width: 33px;
}

.follow-li { background: url(img/linkedin.png) no-repeat;}
.follow-tw { background: url(img/twitter.png) no-repeat; }
.follow-gp { background: url(img/google.png) no-repeat; }
.follow-gh { background: url(img/github.png) no-repeat; }


.back-top {
	float: right;
	cursor: pointer;
	color: #182136;
}
.back-top:hover {
	text-decoration: underline;
}

.navbar-fixed-top .social {
	display:none;
}

@media screen and (min-width: 769px)
{
	.circular{display:none;}
	.square{display: block;}
	.navbar-fixed-top .social {display:block;}
}

@media screen and (min-width: 992px)
{
	.me { display: block; }
	.square{display: none;}
	.jumbotext { width: 500px; }
	.phoneme { display:none; }
	.social {display:block; }
	
	.entity-date
	{
		float: right;
		clear: none;
	}
}

@media screen and (min-width: 1200px)
{
	.jumbotext { width: 700px; }
	.social ul li { margin-top:10px;}
}

@media print
{
	.social {display:none;}
	.navbar {display:none;}
	.navbar-fixed-top {display:none;}
	.page-header {page-break-before: always;}
}
