.panel-default .panel-heading { background: white; }
.panel-body { clear: both; }
.entity-title { float: left; }

.entity-date
{
	clear: left;
	float: left;
}

.jumbotron { position: relative; }

.jumbotext
{
	float: left;
	display: inline;
	width: auto;
}

.me
{
	background: url('homepage.jpg') no-repeat;
	width: 230px;
	height: 370px;
	background-position: 0 -20px;
	border: 1px solid #999;
	border-radius: 6px;
	float: right;
	display: none;
}

.social
{
	list-style-type: none;
	padding: 10px;
	height: 50px;
	width: 245px;
	float: right;
	clear: both;
	position: absolute;
	bottom: 0px;
	right: 18px;
}

.social ul
{
	float: left;
	list-style-type: none;
	display: inline;
	margin: 0;
}

.social ul li
{
	overflow: hidden;
	display: inline;
	float: right;
}

.social ul li a
{
	padding: 0;
	margin: 0;
	display: block;
	height: 40px;
	width: 40px;
}

.follow-li { background: url(img/linkedin.png) no-repeat; }
.follow-tw { background: url(img/twitter.png) no-repeat; }
.follow-gp { background: url(img/google.png) no-repeat; }
.follow-gh { background: url(img/github.png) no-repeat; }


.back-top {
	float: right;
	cursor: pointer;
	color: #182136;
}
.back-top:hover {
	text-decoration: underline;
}

.navbar-fixed-top .social {
	display:none;
}

@media screen and (min-width: 769px)
{
	.navbar-fixed-top .social {display:block;}
}

@media screen and (min-width: 992px)
{
	.me { display: block; }
	.jumbotext { width: 500px; }
	
	.entity-date
	{
		float: right;
		clear: none;
	}
}

@media screen and (min-width: 1200px)
{
	.jumbotext { width: 700px; }
}
